{% extends 'base.html' %}

{% block title %}text-summary{% endblock %}

{% block content %}
<h1>Summary Page</h1>


<div>
  <div>
    <button onclick="textDisplay('textdiv','urldiv')">Text</button> 
    <button onclick="textDisplay('urldiv','textdiv')" >Url</button>
  </div>
  <div id="textdiv">
    <fieldset>
      <legend>The Text input</legend>
      <form method="post" action="{% url 'summarise_text' %}">
        {% csrf_token %}
        <div>
          {{form.inptext}}
        </div>
        <div>
          {{form.count}}
          <input type="submit" value="submit">
        </div>
      </form>
  </div>
  <div id="urldiv" >
    <fieldset>
      <legend>The Url Input</legend>
      <form method="post" action="{% url 'summarise_url' %}">
        {% csrf_token %}
        <div>
          {{form.inptext}}
        </div>
        <div>
          {{form.count}}
          <input type="submit" value="submit">
        </div>
      </form>
    </fieldset>
  </div>
  <div>
    <textarea>{{output}}</textarea>
  </div>
</div>
{% endblock %}
